@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto.woff2);
}

/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid dimgray; */
}

* {
  margin: 0;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  color: rgb(0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  vertical-align: middle;
  font-style: italic;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/* end */

:root {
  --color-blue: rgb(25, 146, 212);
  --color-lightblue: rgba(25, 146, 212, 0.5);
  --color-white: rgb(255, 255, 255);
  --color-background: rgb(226, 232, 240);
  --color-gray: rgb(99, 99, 99);
  --color-black: rgb(0, 0, 0);
  --color-shadow: rgba(0, 0, 0, 0.2);
  --color-accent: rgb(250, 165, 110);
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(16rem, 1.35fr) 7fr;
  grid-template-rows: 2fr 8fr;
}

aside {
  color: var(--color-white);
  grid-row: 1 / -1;
  background-color: var(--color-blue);
  display: grid;
  z-index: 2;
  align-content: start;
  justify-content: center;

  & img[type="image/svg+xml"] {
    filter: invert();
  }
}

.logo {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, min(7rem, 1fr));
  margin: 1rem 0 4rem;
  justify-content: start;

  & * {
    height: 4rem;
    align-content: center;
    font-size: 2rem;
    font-weight: bold;
  }
  & span {
    padding-left: 0.5rem;
  }
}

a {
  text-decoration: none;
}

ul {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0 0 3rem 1rem;

  & * {
    margin-bottom: 1.5rem;
    height: 1.75rem;
    vertical-align: top;
  }
  & a {
    color: var(--color-white);
    padding-left: 1rem;
    font-weight: bold;
    font-size: 1.3rem;
    transition: 0.3s ease-in-out;
    &:hover {
      color: var(--color-accent);
    }
  }
}

header {
  grid-column: 2 / -1;
  background-color: var(--color-white);
  padding: 0 3rem 2rem 2rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(21rem, 5fr) minmax(17rem, 3fr);
  box-shadow: 0 2px 7px 1px var(--color-shadow);
  z-index: 1;

  & > * {
    padding-top: 0.5rem;
  }
  & img[type="image/svg+xml"] {
    height: 1.5rem;
    width: auto;
    vertical-align: sub;
    padding-right: 0.5rem;
    transition: 0.3s ease-in;
    &:hover {
      filter: contrast(0.1) drop-shadow(0 0 2px var(--color-accent));
    }
  }
  & input {
    height: 2rem;
    width: 89%;
    border: none;
    background-color: var(--color-background);
    border-radius: 1.5rem;
    font-size: 1.2rem;
    padding-left: 0.7rem;
  }
  & a {
    color: var(--color-black);
    font-weight: bold;
  }
}

.profile {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min(1fr, 10rem) 2fr;
  column-gap: 1rem;
  row-gap: 0.3rem;
  grid-template-rows: 2fr 3fr;
  justify-content: start;

  & img {
    grid-row: 1 / -1;
  }
  & p {
    font-size: 1.3rem;
    align-self: end;
  }
  & span {
    line-height: 0.7;
  }
}

.username {
  font-size: 1.4rem;
  color: var(--color-blue);
  transition: 0.3s ease-in-out;
  &:hover {
    color: var(--color-lightblue);
  }
}

.left-header {
  display: grid;
}

.search {
  height: 5rem;
  align-content: center;
}

.right-header {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(2, 1fr);
  & a {
    transition: 0.3s ease-in-out;
    &:hover {
      color: var(--color-lightblue);
    }
  }
}

.profile-title {
  height: 5rem;
  align-content: center;
  justify-self: end;

  & img[type="image/png"] {
    margin: 0 1rem;
  }
  & img[type="image/svg+xml"] {
    height: 1.5rem;
    width: auto;
    padding-right: 0.5rem;
  }
}

.buttons {
  align-content: center;
  justify-self: end;
  display: grid;
  grid-auto-flow: column;
}

button {
  margin-left: min(2vw);
  justify-self: end;
  border: none;
  border-radius: 1.5rem;
  padding: 0.6rem 2vw;
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-blue);
  transition: 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: var(--color-lightblue);
  }
}

main {
  padding: 2rem 2rem 4rem;
  grid-column: 2 / -1;
  background-color: var(--color-background);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 7fr minmax(12rem, 1.5fr);
  grid-template-rows: 1fr 1fr;
  column-gap: 1.5rem;
  & a {
    color: var(--color-black);
  }
  & h2 {
    font-size: 1.35rem;
    padding-bottom: 0.5rem;
    padding-left: 0.3rem;
  }
  & article,
  section {
    border-radius: 0.3rem;
    background-color: var(--color-white);
    padding: 1.5rem;
    box-shadow: 2px 3px 5px 0 var(--color-shadow);
  }
  & p {
    color: var(--color-gray);
    -webkit-line-clamp: 4;
    line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.projects {
  grid-row: 1 / -1;

  & img[type="image/svg+xml"] {
    height: 1.5rem;
    padding: 0 0.5rem;
    transition: 0.3s ease-in;
    &:hover {
      filter: contrast(0) drop-shadow(0 0 2px var(--color-accent));
    }
  }
}

.projects-articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  height: 94.8%;

  & article {
    border-left: 5px solid var(--color-accent);
    & a {
      transition: 0.3s ease-in-out;
      &:hover {
        color: var(--color-accent);
      }
    }
  }
}

.shortcuts {
  padding-top: 1rem;
  text-align: right;
}

.announcement {
  height: 50%;
}

.announcement-section {
  align-self: start;
  padding: 1.5rem;
  & hr {
    margin: 1rem 0;
  }
  & p {
    -webkit-line-clamp: 3;
    line-clamp: 3;
    font-size: 0.8rem;
  }
}

.trending {
  & section {
    align-content: center;
    height: 89.5%;
  }
}

.followers {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1rem;
  & span {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2.5fr;
    column-gap: 0.5rem;
    & a {
      font-size: 0.875rem;
      align-self: end;
      color: var(--color-blue);
      font-weight: bold;
      transition: 0.3s ease-in-out;
      &:hover {
        color: var(--color-lightblue);
      }
    }
    & h6 {
      font-size: 0.875rem;
      font-weight: normal;
      color: var(--color-gray);
    }
    & img {
      grid-row: 1 / -1;
      justify-self: center;
    }
  }
}
